  <!-- ============================  Navigation Start =========================== -->
  <div class="navbar navbar-inverse-blue navbar">
    <!--<div class="navbar navbar-inverse-blue navbar-fixed-top">-->
      <div class="navbar-inner">
        <div class="container">
           <div class="navigation">
             <nav id="colorNav">
         <ul>
        <li class="green">
          <a href="#" class="icon-home"></a>
          <ul>
            <li><a [routerLink]="['/login']">Login</a>  </li>
              <li><a [routerLink]="['/register']">Register</a></li>
              <li><a [routerLink]="['/home']">Logout</a>  </li>
          </ul>
        </li>
         </ul>
             </nav>
           </div>
           <a class="brand" href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
           <div class="pull-right">
            <nav class="navbar nav_bottom" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header nav_2">
          <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">Menu
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
       </div>
       <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
            <ul class="nav navbar-nav nav_1">
                <li>
                  <a [routerLink]="['/home']">Home</a>
                </li>
                <li> <a [routerLink]="['/about']">About</a>   </li>
            <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Matches<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li> <a [routerLink]="['/matches']">New Matches</a> </li>
                    <li><a [routerLink]="['/viewedprofile']">Who Viewed my Profile</a>
                       </li>
                    <li><a [routerLink]="['/viewednotcontacted']">Viewed & not Contacted</a>
                      </li>
                    <li><a [routerLink]="['/members']">Premium Members</a>  </li>
                    <li>
                      <a [routerLink]="['/shortlisted']">Shortlisted Profile</a>
                       </li>
                  </ul>
                </li>
          <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a [routerLink]="['/search']">Regular Search</a>
                      </li>
                    <li><a [routerLink]="['/profile']">Recently Viewed Profiles</a>  </li>
                    <li><a [routerLink]="['/searchid']">Search By Profile ID</a>   </li>
                    <li><a [routerLink]="['/faq']">Faq</a>  </li>
                    <li><a href="shortcodes.html">Shortcodes</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Messages<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a [routerLink]="['/inbox']">Inbox</a>
                      </li>
                    <li><a [routerLink]="['/inbox']">New</a></li>
                    <li><a [routerLink]="['/inbox']">Accepted</a></li>
                    <li><a [routerLink]="['/sent']">Sent</a>  </li>
                    <li><a [routerLink]="['/upgrade']">Upgrade</a></li>
                  </ul>
                </li>
                <li class="last">
                  <a [routerLink]="['/contact']">Contacts</a>
               </li>
            </ul>
         </div><!-- /.navbar-collapse -->
        </nav>
       </div> <!-- end pull-right -->
          <div class="clearfix"> </div>
        </div> <!-- end container -->
      </div> <!-- end navbar-inner -->
    </div> <!-- end navbar-inverse-blue -->
<!-- ============================  Navigation End ============================ -->
